{% extends 'Front/base.html.twig' %}

{% block metaTitle %}World Of Steel, tout pour le Steeldrum{% endblock metaTitle %}

{% block main %}

    <section class="accueil">
        <div class="img-accueil">
            <img src="{{ asset ('img/steeldrum_accueil.jpeg')}}" alt="Image de mains jouant du steeldrum" class="resp">
        </div>
        <div class="text-accueil">
            <h1 class="titre-accueil">Bienvenue sur World Of Steel</h1>
            <h2 class="sous-titre-accueil">Le site pour tous les curieux, amateurs, ou professionels du Steeldrum. </h2>
            <p class="contenu-accueil">
                Ici vous pourrez trouver toutes les réponses aux questions que vous vous posez ! Des informations sur l'histoire de l'instrument, sur sa fabrication, des annuaires des différents professionnels spécialisés, un agenda des concerts pour ne jamais louper un évènement et un coin petites annonces ou vous pourrez vendre ou acheter votre matériel.</p>
        </div>
    </section>





{% endblock main %}